.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #1e5bc6;
  width: 100%;
  margin: auto 0;
  margin-top: 1%;
}
.right {
  width: 40vw;
  margin: 0 20px;
  margin-bottom: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;

  color: azure;
}
.left h1 {
  font-family: "Montagu Slab", sans-serif;
  font-weight: 500;
}
.left h2 {
  font-family: "Montagu Slab", sans-serif;
  font-weight: 400;
}
.footer div {
  margin-top: 25px;
}
.footer input {
  margin: 3px 7px;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgb(15, 44, 189);
  font-family: "Montagu Slab", sans-serif;
  font-weight: 400;
  color: white;
  border-radius: 5px;
}

.footer button {
  background-color: white;
  /* border: none; */
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 7px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montagu Slab", sans-serif;
  font-weight: 400;
  border-radius: 5px;
}

.footer input:hover {
  background-color: rgb(10, 30, 192);
  border-color: rgb(0, 17, 255);
}
.footer input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(0, 17, 255);
}

.contactName {
  height: 35px;
  grid-area: nc;
}
.contactCompany {
  height: 35px;
  grid-area: ec;
}
.contactEmail {
  height: 35px;
  grid-area: emc;
}
.contactText {
  grid-area: tc;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.contactSendButton {
  grid-area: btn;
  height: 35px;
  color: #1e5bc6;
  border: 2px solid rgb(10, 30, 192);
}
.contactSendButton:hover {
  background-color: rgb(10, 30, 192);
  color: white;
}
.rightForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr 3fr 1fr;
  grid-template-areas:
    "nc ec"
    "emc emc"
    "tc tc"
    "btn btn";
}

@media (max-width: 768px) {
  .footer {
    display: grid;
    justify-items: center;
    width: 100%;
  }
  .left {
    width: 90%;
    justify-content: center;
    text-align: center;
  }
  .left h1 {
    align-self: center;
  }
  .right {
    width: 100vw;
  }
  .rightForm {
    width: 90vw;
    margin: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr 3fr;
    grid-template-areas:
      "nc"
      "ec"
      "emc"
      "tc"
      "btn";
  }
}
