.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #1e5bc6;
  width: 100%;
  margin: auto 0;
  margin-top: 1%;
}
.footer div {
  margin-top: 25px;
}

.direita {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
