body {
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  width: 100%;
  scroll-behavior: smooth;
}
.limite {
  margin: 0.2rem 5% 0;
}
li {
  list-style: none;
}
