.total-list {
  margin: 0.2%;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
}

.propaganda {
  flex: 2;
  border: 1px solid #4d1a1a;
  width: 98%;
  margin: 1%;
}

.produtosUL {
  flex: 8;
  width: 98%;
  margin: 1% auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  border: 1px solid #4d1a1a;
}
.produtosLI {
  flex: 1;
  margin: 2% auto;
  min-width: min-content;
  max-width: max-content;
  height: fit-content;
  border: 1px solid #4d1a1a;
}

@media (max-width: 1366px) {
  .produtosUL {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1024px) {
  .produtosUL {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .produtosUL {
    grid-template-columns: repeat(3, 1fr);
  }
}
