header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 70px;
  margin: 0 5% 0;
  background-color: #ffffff;
  z-index: auto;
}

.horizontalLine {
  height: unset;
  width: 100%;
  border-top: 0.15rem solid #e6e6e6;
}

.navbar2 {
  background-color: #ffffff;
  margin: 0 5% 0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1 0 30px;
  font-size: 15px;
  opacity: 1;
  transition: visibility 0.3s linear, opacity 1s ease-in;
}
a {
  color: #666666;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1% 0.5rem;
  color: black;
}

#div-search {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 33rem;
  border-radius: 0.22rem 0 0 0.22rem;
  border: 0.18rem solid #1e5bc6;
  padding: 0;
}

.lupa {
  border-radius: 0 0.22rem 0.22rem 0;
  height: 2rem;
  align-self: center;
  justify-self: center;
  background-color: #1e5bc6;
  border: 0.18rem solid #1e5bc6;
}
.lupa:hover {
  cursor: pointer;
}
.search {
  all: unset;
  height: 2rem;
  width: 30rem;
  font-weight: 600;
  margin-left: 1rem;
}
.div-user > *,
.div-user > * > label {
  cursor: pointer;
}

.div-user > *:hover,
.div-user > * > label:hover {
  color: #8faad8;
}

.div-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 0;
  color: #1e5bc6;
  width: max-content;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  white-space: nowrap;
}

.label-bv {
  font-size: 0.8rem;
  font-weight: 800;
}

.link {
  background-color: #ffffff;
}
.menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.menu a {
  display: block;
  padding: 0.25rem;
}

.navbar2 li {
  align-self: center;
  padding: 0 1rem 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 0.2rem;
}
.nav li a {
  text-decoration: none;
  border-bottom: solid 2px transparent;
}
.nav li a:hover {
  color: #1e5bc6;
  border-bottom: solid 2px #1e5bc6;
}

.rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2%;
  width: 100%;
}

.grudar {
  position: fixed;
}

/* START CARRINHO */
.imgCart {
  margin-left: auto;
  transition: 0.6s;
  margin-right: 0;
}
.cartIcon {
  color: #1e5bc6;
}
.cartIcon:hover {
  color: #8faad8;
  cursor: pointer;
}
.darkBackgroundCart {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0.7;
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
  visibility: visible;
}
.closedDarkBackgroundCart {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
/* END CARRINHO */

.fade {
  display: flex;
  transition: visibility 0.3s linear, opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.btn-mobile {
  display: none;
}

@media (max-width: 768px) {
  .navbar2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    margin: 0;
    transition: transform 250ms;
    transform: translateY(-100%);
  }
  .nav.active .navbar2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 10;
    transition: transform 250ms;
    transform: translateY(0%);
  }
  .nav.active .imgCart {
    visibility: hidden;
    transform: rotate(270deg) scale(0);
  }
  .menu {
    display: block;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 40px;
    right: 0;
    background: #ffffff;
    z-index: 1000;
    height: 0;
    transition: 0.6s;
    overflow-y: hidden;
  }
  .nav.active .menu {
    height: calc(100vh - 50px);
    visibility: visible;
    overflow-y: auto;
    transition: 0.6s;
  }

  .menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  }

  .limite {
    margin: 0.2%;
    align-self: center;
  }

  .navbar1 {
    margin: 0 1% 0;
  }
  .navbar1 #div-search {
    width: 80%;
  }
  .div-user {
    display: none;
  }

  .rightNav {
    width: 7%;
  }
  .user-icon {
    width: 100%;
  }
  .btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 100;
  }
  .hamburguer {
    display: block;
    border-top: 2px solid rgb(0, 0, 0);
    color: black;
  }
  .hamburguer::after,
  .hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .nav.active .hamburguer {
    border-top-color: transparent;
  }
  .nav.active .hamburguer::before {
    transform: rotate(135deg);
  }
  .nav.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
