.nav {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* background-color: rgb(14, 6, 3); */
}

header {
  background-color: #fff;
}

.linha-horizontal {
  height: unset;
  width: 100%;
  border-top: 0.2rem solid #e6e6e6;
}

.navbar1 {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: #ffffff;
}

.logo {
  margin: 0.5rem 1% 0.5rem;
  color: black;
}

#div-search {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 33rem;
  border-radius: 0.22rem 0 0 0.22rem;
  border: 0.18rem solid #1e5bc6;
  padding: 0;
}

.lupa {
  border-radius: 0 0.22rem 0.22rem 0;
  height: 100%;
  background-color: #1e5bc6;
  border: 0.125rem solid #1e5bc6;
}
.lupa:hover {
  cursor: pointer;
}
.search {
  all: unset;
  height: 2rem;
  width: 30rem;
  font-weight: 600;
  margin-left: 1rem;
}

.div-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 0;
  color: #1e5bc6;
}
.bem-vindo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
}

.label-bv {
  font-size: 0.8rem;
  font-weight: 800;
}

.menu {
  background-color: inherit;
  margin: 0.5rem 0.5rem 0rem;
  padding: 0.2rem 0.5rem 0.25rem;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex: 1;
}

.link {
  background-color: #ffffff;
}

.navbar ul {
  display: flex;
  margin: 0;
}

.navbar li {
  padding: 0.5rem 1rem 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 0.5rem;
}

.navbar li:hover {
  background-color: #e6e6e6;
}

.menu:hover {
  background-color: #e6e6e6;
}
.grudar {
  position: fixed;
}
.carrinho-img {
  margin-left: auto;
  margin-right: 0;
}
.carrinhoCompra {
  color: #1e5bc6;
}
.carrinhoCompra:hover {
  color: #8faad8;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .limite {
    margin: 0.2%;
    align-self: center;
    width: 95vw;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .navbar1 #div-search {
    width: 85vw;
  }
  .div-user {
    display: none;
  }
  .navbar ul li {
    display: flex;
    justify-content: center;
  }
}
