div {
  background-color: #ffffff;
  height: 3rem;
  /* background-color: rgb(14, 6, 3); */
}

.navbar-logo {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.logo {
  margin: 1rem;
  color: black;
}

.search {
  height: 2rem;
  width: 30rem;
  font-weight: 600;
  border-color: #e6e6e6;
  border-radius: 0.4rem;
}

.search:focus {
  all: unset;
  height: 2rem;
  width: 30rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 5px black;
}

::placeholder {
  color: #695f5f;
}

.menu {
  background-color: inherit;
  margin: 0.5rem 0.5rem 0rem;
  padding: 0.2rem 0.5rem 0.3rem;
}

.navbar {
  border-top: 0.2rem solid #e6e6e6;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.link {
  background-color: #ffffff;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
  padding: 0.9rem 1rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 0.5rem;
}

li:hover {
  background-color: #e6e6e6;
}

.menu:hover {
  background-color: #e6e6e6;
}
