.product {
  display: flex;
}

.imagens {
  flex: 3;
  display: flex;
}

.infor {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 1px #fff;
  padding: 3%;
  /* border: 1px solid #e6e6e6; */
  /* box-shadow: 0 0 1px #555555; */
}
.divider {
  border-top: 1px solid #555555;
  /* border-top: 1px solid #fff; */
}
.img-min {
  /* box-shadow: 0 0 2px #555555; */
  flex: 1;
  box-shadow: 0 0 1px #fff;
  margin-right: 1%;
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
}
.img-max {
  flex: 4;
  display: flex;
  box-shadow: 0 0 1px #fff;
  object-fit: cover;
  margin-right: 1%;
  background-color: #fff;
  max-height: 600px;

  /* box-shadow: 0 0 1px #555555; */
  /* align-content: center;
  justify-content: center;*/
}

.img-min ul {
  padding: 10px 10px 10px;
  margin: 0;
  overflow-y: scroll;
  height: 100%;
  background-color: #fff;
  max-height: 600px;
}
.img-min li {
  margin-bottom: 10px;
  height: auto;
  width: auto;
}
.img-min img {
  max-height: 100%;
  max-width: 100%;
}

.img-min ul::-webkit-scrollbar {
  display: none;
}

.infor-2 {
  display: flex;
}

.preço {
  /* flex: 1; */
  display: flex;
  height: 40px;
  align-items: center;
  /* margin: 0 3%;
  justify-content: center; */
}

.comprar {
  /* flex: 1; */
  height: 40px;
  display: flex;
  /* margin: 0 3%; */
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1e5bc6;
  border-radius: 5px;
}

.infor h2 {
  margin-right: 3%;
}
.img-max img {
  width: 100%;
  object-fit: cover;
  /* height: auto; */
  /* justify-self: center; */
  /* align-self: center; */
  /* margin: 2% 2%; */
}
