.all {
  margin: 0.3% 5% 0;
  background-color: #fff;
}

.first {
  height: 8rem;
  display: flex;
  margin: 0 0.1% 0;

  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.second {
  height: 20rem;
  margin-top: 0.2%;
  display: flex;
  justify-content: space-between;
}

.second-1 {
  height: 100%;
  flex: 2;
  margin: 0 0.1% 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
.second-2 {
  height: 100%;
  flex: 5;
  margin: 0 0.1% 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.tird {
  height: 20rem;
  margin-top: 0.3%;
  display: flex;
  justify-content: space-between;
}

.tird div {
  flex: 1;
  margin: 0 0.1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

@media (max-width: 768px) {
  .all {
    margin: 0;
  }
}
