.sidebar {
  background-color: #fff;
  border: 1px solid #aaaaaa;
  font-weight: 400;
}
.divider {
  margin: 5%;
  border-top: 1px solid #aaaaaa;
}
.sidebar p {
  margin: 3% 3% 2%;
}
.sidebar ul,
.sidebar li {
  margin: 3% 5% 2%;
  padding: 0;
  list-style: none;
}
.sidebar li {
  margin: 1% 0.5% 1%;
}
.sidebar p {
  color: #02299c;
}
