.main {
  margin: 0.2rem 0rem 0rem 10rem;
  background-color: #fff;
  width:18%;
  height:55rem;
  border: 1px solid #aaaaaa;
  font-weight: 400;
}
.main div {
  height: unset;
  margin: 1rem 0.5rem 0rem 1rem ;

}
.divider {
  margin: 1rem;
  border-top: 1px solid #aaaaaa

}
.main ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main li {
  margin: 0.3rem 0 0;
}
.main p {
  color: #02299c;
}
